@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

#button {
  position: absolute;
  right: 15px;
  bottom: 60px;
  border: none;
  background: #ffff;
  color: #B22E6F;
  outline: none;
  margin: 0;
  z-index: 1;
  border-radius: 20px;
  padding: 5px 20px;
}

.tooltip-arrow {
  position: absolute;
  left: 20px !important;
  transform: none !important;;
}

.tooltip-arrow::before {
  border-bottom-color: rgba(255, 255, 255, 0.4) !important;
  bottom: 0 !important;
}

.tooltip-inner {
  padding: 15px 0px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  width: 250px !important;
  max-width: none !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

#overlay-example {
  top: 20px !important;
}

.card {
  flex-direction: row !important;
}

.container {
  padding-right: 0%;
}

@media(max-width: 600px) {
  #paginas {
    justify-content: center !important;
  }
  #textoPaginas {
    position: relative;
    left: 55px;
  }
  #backButton {
    position: relative;
    right: 100px;
    margin: 0;
  }
  #nome {
    display: none;
  }
  #ioasys {
    position: relative;
    right: 10px;
  }
  #imageBookDetail {
    width: 100%;
  }
  #rowDetails {
    display: flex;
    flex-direction: column;
  }
}

.btn-close {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  overflow: visible;
}
